/* gebündelte fonts (SIL Open Font License), self-hosted, kein CDN/CSP-loch. */

@font-face {
  font-family: "Saira";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/saira-600.ttf") format("truetype");
}
@font-face {
  font-family: "Saira";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/saira-700.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/inter-400.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/inter-500.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/inter-600.ttf") format("truetype");
}

@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/space-mono-400.ttf") format("truetype");
}
@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/space-mono-700.ttf") format("truetype");
}
